<div class="p-10 mb-4 bg-light rounded-3">
<div class="container-fluid py-5">

<%= render @friend %>
</div>
</div>

<div class="">
  <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-secondary" %>
  <%= link_to "Back to friends", friends_path, class:"btn btn-primary" %>
  </br>
  </br>
  <%= button_to "Destroy this friend", @friend, method: :delete, class:"btn btn-danger" %>
</div>
